@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <img src="~/Content/Images/paginaHome.jpg" class="d-block w-100" alt="..." style="margin-left:300px;" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Venha nos Conhecer</h2>
    </div>
</div>